<!-- Load static files, need this to tell the html to load any static files or it will not work -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- watercss pre-developed CSS Styles -->
    <!-- https://watercss.kognise.dev/#installation -->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />

    <!-- Own Styles -->
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
    />

    <!-- Thumbnail picture -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/travel.png' %}">

    <title>Travel Wishlist</title>
  </head>

  <h1 id="site-header" style="background: url('{% static 'img/headerPic.jpeg' %}')">Where do you want to go?</h1>
  <body>
    <!-- Base html is practically a "template" for other pages to have access to. Such as headers, global fonts, colors, text, etc will be rendered on multiple different pages. Note, for pages that you want the base html to be applied to, you need to make sure that page has the "extends" tag on the top  -->

    <!-- The block content and end block content tags allows for the page content to be rendered when the "extends" tag is applied to that page.  -->
    {% block content %} {% endblock %}

    <div>
      <p>A travel wishlist, built with Django</p>

      <!-- Link to home -->
      <a class="nav-link" href="{% url 'place_list' %}">Your wishlist</a>

      <!-- Places visited -->
      <a class="nav-link" href="{% url 'places_visited' %}"
        >Places you've visited</a
      >

      <!-- About page -->
      <a class="nav-link" href="{% url 'about' %}">About</a>
    </div>
  </body>
</html>
