{% extends 'travel_wishlist/base.html' %} {% block content %}
<div>
  <h2>Places you have visited</h2>
  {% if visited_places %}
  <ul>
    {% for visited_place in visited_places %}
    <li>
      <a href='{% url "place_details" visited_place.pk %}'
        >{{visited_place.name}}</a
      >
      <!-- {{visited_place.pk}} -->
    </li>

    {% endfor %}
  </ul>

  <!-- If no visited places, then set to a message -->
  {% else %}

  <p>You have no places visited!</p>

  {% endif %}
</div>

{% endblock %}
